<app-reminder-form (reminderCreated)="addReminder($event)"></app-reminder-form>

<div class="container">
  <div class="column">
    <h2>Reminders For Me</h2>
    <!-- Reminders assigned to the user -->
    <app-reminder-list [reminders]="getRemindersForMeArray()"></app-reminder-list>
  </div>
  <div class="column">
    <h2>Reminders For Others</h2>
    <!-- Reminders created by the user for others -->
    <app-reminder-list [reminders]="getRemindersForOthersArray()"></app-reminder-list>
  </div>
</div>

<router-outlet></router-outlet>
